[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pvporcupine = "*"
pvrecorder = "*"
black = "*"
elevenlabs = "*"
langchain = "*"
requests = "*"
langchain-community = "*"
pydub = "*"
webrtcvad = "*"
openai = "*"
langchainhub = "*"
langchain-openai = "*"
faiss-cpu = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
